.page-wrapper{
    margin-top: 2rem;
    margin-bottom: 4rem;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
}

.recipe-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    border-radius: 5px;
    transition: all 0.1s ease-out;
}

.recipe-card *{
    transition: all 0.1s ease-out;
}

.recipe-card:hover{
    transform: rotate(3deg);
}

.recipe-title{
    margin: 0;
    padding: 0;
    color: #555555;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.cooking-time{
    margin: 0;
    padding: 0;
    color: #a6a0a6;
}

.cooking-method{
    margin-top: 1rem;
    padding: 0;
    color: #6a6d80;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.view-btn{
    justify-self: flex-start;
    align-self: center;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    padding: 8px 20px 8px 20px;
    color: rgb(70, 70, 70);
    cursor: pointer;
}

.additionals{
    display: flex;
    flex-direction: row;
}

.additionals .delete{
    align-self: center;
    margin-left: auto;
    
}

.additionals .edit{
    align-self: center;
    margin-left: 1rem;
    
}