nav{
    height: 100px;
    background-color: #58249c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.1s ease-out;
}

.nav-wrapper{
    width: 1200px;
    margin: auto;
    height: 100px;
    background-color: #58249c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.1s ease-out;
}

.title{
    font-size: 3rem;
    color: white;
    cursor: pointer;
    float: left;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.items{
    align-items: flex-end;
    width: 1200px;
    margin: auto;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.create-btn{
    background-color: transparent;
    border: 1px solid white;
    padding: 5px;
    border-radius: 3px;
    color:white;
    font-size: 13px;
    cursor: pointer;
    margin-left: 20px;
}

.logout-btn{
    background-color: transparent;
    border: 1px solid white;
    padding: 5px;
    border-radius: 3px;
    color:white;
    font-size: 13px;
    cursor: pointer;
    margin-left: 10px;
}

