nav{
    margin: 0;
    height: 100px;
    background-color: #58249c;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    font-size: 3rem;
    color: white;
    cursor: pointer;
    float: left;
}

.items{
    display: flex;
    width: 100%;
}

